// 此自定义uView主题生成于2021-01-30 22:58
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #2980b9;
$u-type-error: #c0392b;
$u-type-warning: #f39c12;
$u-type-success: #27ae60;
$u-type-info: #7f8c8d;
$u-type-primary-light: #ecf5ff;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #3498db;
$u-type-error-dark: #e74c3c;
$u-type-warning-dark: #f1c40f;
$u-type-success-dark: #2ecc71;
$u-type-info-dark: #95a5a6;
$u-type-primary-disabled: #a0cfff;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #2c3e50;
$u-content-color: #34495e;
$u-tips-color: #7f8c8d;
$u-light-color: #95a5a6;
$u-border-color: #ecf0f1;
$u-bg-color: #f5f6fa;
$u-form-item-border-color: #ecf0f1;
$u-form-item-height: 70rpx;
